.article {
  max-width: 519px;
  border-bottom: 1px solid silver;
  padding-bottom: 14px;
}

.article_link {
  display: flex;
  flex-direction: column;
}

.article_link_img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: 4px;
}

.article_link_time {
  color: grey;
  font-size: 0.75rem;
  margin-top: 6px;
}

.article_link_title {
  font-weight: 700;
}

.article_link_author_name {
  font-size: 11px;
  opacity: 0.7;
}

.article_link:hover .article_link_title {
  transition: 0.3s;
  color: #0289cb;
}
