.article {
  max-width: 519px;
}

.article_link_img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.article_link_time {
  font-size: 0.85rem;
}

.article_link_title {
  font-weight: 700;
}

.article_link_author_name {
  font-size: "11px";
  opacity: "0.7";
}

.article_link:hover .article_link_title {
  transition: 0.3s;
  color: #0289cb;
}
