.articles_links_container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px 50px;
}

/* // Dispositivos grandes (escritorios, 992px y más) */
@media (min-width: 992px) {
  .articles_links_container {
    padding-left: 40px;
  }
}
