.form {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 1000px;
  padding: 10px;
  border: 1px solid black;
}

.form_label {
  display: block;
}

.form_input,
.form_textarea,
.form_select {
  width: 100%;
  border: 1px solid black;
  padding: 5px 10px;
}

.form_textarea {
  resize: none;
}

.form_btn {
  align-self: center;
  padding: 10px 40px;
}

.form_author {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.author_img_name_container {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.author_img {
  border-radius: 100%;
  object-fit: cover;
}

.author_checkbox_container {
  display: flex;
  column-gap: 5px;
}

.author_label_checkbox {
  font-size: 12px;
  opacity: 0.8;
}

.form[inert] {
  opacity: 0.3;
}
