.links_social_container {
  margin: 0 10px;
  display: flex;
  column-gap: 10px;
}

/* // Dispositivos grandes (escritorios, 992px y más) */
@media (min-width: 992px) {
  .links_social_container {
    position: fixed;
    left: 0;
    top: calc(50vh - 65px);
    background-color: black;
    flex-direction: column;
    column-gap: 0;
    row-gap: 10px;
    border-radius: 0 10px 10px 0;
    padding: 10px 2px;
    margin: 0;
  }
}
