.articles_links_container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.article_link_img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.article_link_time {
  font-size: 0.85rem;
}

.lead-article {
  font-size: 1.15rem;
}

.article_link_title {
  font-weight: 700;
}

.article_link:hover .article_title {
  transition: 0.3s;
  color: #0289cb;
}

.section_page_title {
  text-align: center;
  font-size: 1.5em;
}

/* // Dispositivos pequeños (teléfonos horizontales, 576px y más) */
@media (min-width: 576px) {
  .articles_links_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .article_link {
    width: 45%;
  }
}

/* // Dispositivos grandes (escritorios, 992px y más) */
@media (min-width: 992px) {
  .article_link {
    width: 30%;
  }
}
