* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-color: gray;
  scrollbar-width: thin;
}

body {
  min-width: 320px;
  min-height: 100dvh;
  color: rgb(15, 15, 15);
  background-color: rgb(245, 245, 245);
}

main {
  max-width: 1440px;
  margin-inline: auto;
  padding: 1rem;
  min-height: calc(100dvh - 239px);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.btn {
  cursor: pointer;
  padding: 5px 40px;
  border: 1px solid gray;
  border-radius: 2px;
  text-align: center;
}

.btn:active {
  transform: translateY(2px);
}

button,
input,
textarea,
select {
  color: inherit;
  font-family: inherit;
  font-size: 1em;
}

input,
textarea,
select {
  outline: none;
}

abbr[title] {
  text-decoration: none;
}
