.article {
  max-width: 519px;
  border-bottom: 1px solid silver;
  padding-bottom: 14px;
}

.link {
  display: flex;
  flex-direction: column;
}

.link:is(:hover, :focus-visible) {
  & .image {
    scale: 1.1;
  }

  & .title {
    color: #0289cb;
  }
}

.figure {
  overflow: hidden;
  border-radius: 4px;
}

.image {
  display: block;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  transition: scale 0.3s;
}

.time {
  color: grey;
  font-size: 0.75rem;
  margin-top: 6px;
}

.title {
  font-weight: 700;
  text-wrap: pretty;
  transition: color 0.3s;
}
