.title {
  margin-bottom: 1rem;
  padding-bottom: 5px;
  font-size: 1.5rem;
  font-weight: normal;
  border-bottom: 1px solid #0289cb;
  position: relative;
  z-index: 1;
}

.author {
  color: #0289cb;
  font-weight: bold;
}
