.article {
  max-width: 519px;
  border-bottom: 1px solid silver;
  padding-bottom: 14px;
}

.link {
  display: flex;
  flex-direction: column;
}

.image {
  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: 4px;
}

.time {
  color: grey;
  font-size: 0.75rem;
  margin-top: 6px;
}

.title {
  font-weight: 700;
  text-wrap: pretty;
}

.link:is(:hover, :focus) .title {
  transition: 0.3s;
  color: #0289cb;
}
