.title {
  margin: 10px 10px 0 10px;
  padding-bottom: 5px;
  font-size: 24px;
  font-weight: normal;
  border-bottom: 1px solid #0289cb;
}

.author {
  color: #0289cb;
}

@media (min-width: 992px) {
  .title {
    margin-left: 40px;
  }
}
