.container {
  padding: 10px;
}

.title {
  font-weight: 700;
  text-wrap: pretty;
}

.img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 5px;
}

.time {
  font-size: 0.8rem;
  line-height: 30px;
  vertical-align: text-bottom;
  margin-left: 15px;
  color: grey;
}

.lead {
  font-size: 1.15rem;
  margin-top: 5px;
  text-wrap: pretty;
}

.author_container {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.share_social_media_container_bottom {
  padding: 10px 0 20px 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

/* // Dispositivos medianos (tabletas, 768px y más) */
@media (min-width: 768px) {
  .img {
    height: 450px;
  }
}

/* // Dispositivos grandes (escritorios, 992px y más) */
@media (min-width: 992px) {
  .container {
    width: 60%;
    padding-left: 40px;
  }
}
