.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 20px;
}

.links {
  border: 1px solid black;
  width: 200px;
  text-align: center;
  padding: 10px 0;
}
