.form {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 1000px;
  padding: 10px;
  border: 1px solid black;
}

.form[inert] {
  opacity: 0.3;
}

.form_label {
  display: block;
}

.form_input,
.form_textarea,
.form_select {
  width: 100%;
  border: 1px solid black;
  padding: 5px 10px;
}

.input_img {
  width: 100%;
  padding: 5px 0;
}

.btn_change_img {
  padding: 5px 20px;
}

.form_textarea {
  resize: none;
}

.form_btn {
  align-self: center;
  padding: 10px 40px;
}

.form_author {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.author_img_name_container {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.author_checkbox_container {
  display: flex;
  column-gap: 5px;
}

.author_label_checkbox {
  font-size: 12px;
  opacity: 0.8;
}

.img_bbdd {
  object-fit: cover;
  vertical-align: bottom;
  margin-right: 10px;
  width: 256px;
  aspect-ratio: 3/2;
}

.img_blob {
  object-fit: cover;
  width: 256px;
  aspect-ratio: 3/2;
}

.img_preview {
  width: 256px;
  aspect-ratio: 3/2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 10px;
  text-align: center;
  padding: 10px;
}
