.dropzone {
  border: 2px dashed gray;
  border-radius: 1rem;
  padding: 10px 15px;
  max-width: 400px;
}

.image_preview {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  aspect-ratio: 3/2;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s;
}
