.container {
  display: inline-flex;
  column-gap: 5px;
  background-color: rgb(245, 245, 245);
  padding: 2px 5px;
}

.container button {
  display: flex;
  border: none;
  background-color: transparent;
}

.container button:hover {
  transform: scale(1.03);
}
