.container {
  display: inline-flex;
  column-gap: 0.5rem;
  background-color: rgb(245, 245, 245);
  z-index: 1;
}

.container button {
  display: flex;
  transition: all 0.3s, translate 0s;
}

.container button:is(:hover, :focus-visible) {
  scale: 1.03;
}

.container button:active {
  translate: 0 0.125rem;
}
