.container {
  display: inline-flex;
  align-items: center;
}

.container > :is(a, button) {
  border-radius: 4px;
  transition: background-color 0.3s, translate 0s;
  display: flex;
  padding: 0.25rem;
}

.container > :is(a, button):is(:hover, :focus-visible) {
  background-color: #0289cb;
}

.container > :is(a, button):active {
  translate: 0 0.125rem;
}
