.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 10px 10px 5px;
}

.follow_text {
  position: absolute;
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 0px;
  translate: -12px 0;
  opacity: 0.9;
}

.address,
.copyright {
  text-align: center;
  font-size: 0.8em;
}

.address_items_list {
  list-style-type: none;
}

.address_item {
  white-space: nowrap;
}

.address_item a {
  text-decoration: underline;
}

.copyright {
  text-wrap: pretty;
}
