.footer {
  background-color: rgb(10, 10, 10);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 10px 10px 5px;
  width: 100%;
}

.follow_text {
  position: absolute;
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 0px;
  translate: -12px 0;
  opacity: 0.9;
}

.address,
.copyright {
  text-align: center;
  font-size: 0.8em;
}

.address_items_list {
  list-style-type: none;
}

.address_item {
  white-space: nowrap;
}

.address_item a {
  text-decoration: underline;
}

.dev {
  font-size: 0.6rem;
}

.adan__ig {
  text-decoration: underline;
}
