.header {
  background-color: rgb(17 24 39);
  box-shadow: var(--box-shadow);
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.buttonandmenu_user_container {
  position: relative;
}

.openmenuuser_button {
  display: flex;
}

.menuuser_container {
  position: absolute;
  top: 110%;
  right: 0;
  min-width: max-content;
  padding: 10px;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  background-color: rgba(15, 80, 90, 0.96);
  color: rgb(210, 210, 210);
  font-size: small;
}

.username {
  border-bottom: 1px solid silver;
  margin-bottom: 5px;
}

.dashboard_link,
.new_link,
.account_link,
.logout_button {
  border-radius: 4px;
  padding: 5px 10px;
  align-self: stretch;
  text-align: center;
  transition: background-color 0.3s;
}

.dashboard_link:hover,
.new_link:hover,
.account_link:hover,
.logout_button:hover {
  background-color: rgb(10, 60, 65);
}
