.header {
  background-color: rgb(10, 10, 10, 0.98);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 0px 20px 0px rgb(10 10 10);
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.openmenu_button,
.closemenu_button {
  background-color: transparent;
  border: none;
  height: 48px;
}

.closemenu_button {
  position: fixed;
  top: 0;
  right: 10px;
}

.menu_phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  top: 48px;
  width: 100%;
  min-height: 100%;
  background-color: rgba(10, 10, 10);
  overflow-y: auto;
  padding-top: 30px;
}

.menu_phone footer {
  transform: translateY(-48px);
}

/* .navbar_list {
  text-align: center;
  list-style-type: none;
}

.navbar_list_item {
  margin-bottom: 30px;
} */

.userandopenbutton_container {
  display: flex;
  align-items: center;
}

.buttonandmenu_user_container {
  position: relative;
}

.openmenuuser_button {
  background-color: transparent;
  border: none;
  display: flex;
}

.menuuser_container {
  position: absolute;
  top: 110%;
  right: 0;
  min-width: max-content;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  background-color: rgba(15, 80, 90, 0.96);
  color: rgb(210, 210, 210);
  font-size: small;
}

.username {
  border-bottom: 1px solid silver;
}

.logout_button {
  color: inherit;
  background-color: transparent;
  border: none;
}

.dashboard_link,
.account_link,
.logout_button {
  transition: background-color 0.8s, box-shadow 0.8s;
}

.dashboard_link:hover,
.account_link:hover,
.logout_button:hover {
  background-color: rgb(10, 60, 65);
  box-shadow: 0px 0px 10px 10px rgb(10, 60, 65);
}

/* // Dispositivos medianos (tabletas, 768px y más) */
@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .menu_phone {
    top: 60px;
  }

  .closemenu_button {
    top: 6px;
  }
}

/* // Dispositivos grandes (escritorios, 992px y más) */
@media (min-width: 992px) {
  .header_container {
    padding-left: 40px;
  }

  .openmenu_button {
    display: none;
  }

  /* .menu {
    display: block;
    position: static;
    width: auto;
    height: auto;
    overflow-y: visible;
    padding-top: 0;
  } */

  /* .navbar_list {
    display: flex;
    column-gap: 10px;
  }

  .navbar_list_item {
    margin-bottom: 0;
  }

  .navbar_link:hover {
    border-bottom: 2px solid white;
  } */
}
