.container {
  border: 1px solid black;
}

.buttons_container {
  border-bottom: 1px solid black;
  text-align: center;
}

.rich_text_editor {
  padding: 20px;
  height: 500px;
  overflow: auto;
}

.rich_text_editor * {
  max-width: 100%;
}

.rich_text_editor a {
  color: #0289cb;
}

.rich_text_editor a:hover {
  text-decoration: underline;
}

.rich_text_editor img {
  width: 100%;
  max-height: 600px;
}

.buttons_container button {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: inline-flex;
}

.buttons_container button:hover {
  background-color: aliceblue;
}

.buttons_container select {
  position: absolute;
  transform: translate(-39px, 40px);
  overflow: auto;
  min-width: 34px;
}

.buttons_container select:focus-visible {
  outline: none;
}

.buttons_container option {
  padding: 5px;
}

.buttons_container option:hover {
  background-color: aliceblue;
}

.buttons_undo_redo_container {
  text-align: center;
}

.buttons_undo_redo_container button {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: inline-flex;
}

.buttons_undo_redo_container button:hover {
  background-color: aliceblue;
}

.buttons_undo_redo_container button[disabled] {
  cursor: not-allowed;
  background-color: transparent;
}

.rich_text_editor:focus {
  outline: none;
}

.rich_text_editor ul,
.rich_text_editor ol {
  padding-left: 40px;
}

/* // Dispositivos grandes (escritorios, 992px y más) */
@media (width >= 992px) {
  .container {
    width: 60%;
    margin: 0 auto;
  }
}
