.form {
  width: 95%;
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px 10px;
  border: 1px solid gray;
  border-radius: 2px;
}

.form[inert] {
  opacity: 0.3;
}

.label {
  display: block;
}

.input {
  width: 100%;
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 2px;
}

.form button {
  align-self: center;
}

.error_message {
  text-align: center;
  color: red;
}
